:root {
  --bg--color: #f3efec;
  --text-color: #312a4e;
  --accent-color: #ffab6b;
  --main-font: Raleway;
  --accent-font: "STIX Two Text";
}

.theme_dark {
  --bg-color: #171717;
  --text-color: #b3b3b3;
  --accent-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  min-inline-size: 360px;
  margin: 0;
  background-color: var(--bg--color, #f3efec);
  color: var(--text-color, #312a4e);
  font-family: var(--main-font, Raleway);
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

a:focus,
button:focus {
  outline: none;
}

a:focus-visible,
button:focus-visible {
  outline: 1px solid currentColor;
}

button:disabled {
  pointer-events: none;
}

.content-section {
  padding: 0 5vi;
}

.heading {
  font-family: var(--accent-font, serif);
  line-height: 90%;
  font-weight: 600;
  text-align: center;
}

.header {
  padding-block-start: 10%;
}

.header__title {
  font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
  margin-block-end: 40px;
}

.content__title {
  font-size: 30px;
  margin: 7% 0 2.5%;
}

.content__text-block {
  font-size: 18px;
}

.content__text-block .content__paragraph:not(:last-of-type) {
  margin-block-end: 1.5em;
}

.content__paragraph a {
  color: inherit;
}

.content__blockquote {
  inline-size: 75%;
  font-style: italic;
  margin: 0 auto 1.5em;
  line-height: 2;
}

.content__list {
  list-style-type: none;
  padding: 0;
  /* position: relative; */
}

.content__list li {
  /* margin-left: 40px; */
  margin-inline-start: 40px;
  position: relative;
}

/* надо сверяться с решением, есть вопроси */
.content__list li::before {
  content: url("../images/marker-light.svg");
  width: 15px;
  height: 15px;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: -25px;
}

.content__list li:not(:last-of-type) {
  margin-block-end: 10px;
}

.content__paragraph.content__text-block_type_first-lettered:first-letter {
  background-color: var(--accent-color);
  padding: 0 4px;
  margin-right: 1px;
  /* посмотри про инлайн блок тоже в ответе */
  display: inline-block;
}

.contetnt__picture {
  inline-size: 100%;
}

.content_figure {
  position: relative;
  inline-size: calc(100% + 10vi);
  margin: 7% auto;
  inset-inline-end: 5vi;
}

.content__picture-caption {
  border-block-end: 1px, solid, currentColor;
  padding: 20px;
  font-size: 18px;
  text-align: center;
}

.content__card {
  margin-block-start: 7%;
  aspect-ratio: 4/3;
  border: 1px solid currentColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content__card-title {
  font-size: 60px;
}

.content__card-subtitle {
  font-size: 18px;
}

.colored-text {
  position: relative;
  display: inline-block;
}

.colored-text::after {
  content: "";
  position: absolute;
  z-index: -1;
  inline-size: calc(100% + 8px);
  block-size: 0.5ch;
  background-color: var(--accent-color);
  inset-inline-end: 0.3ch;
  inset-inline-start: -4px;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-block-start: 1px solid currentColor;
  border-block-end: 1px solid currentColor;
  padding-block: 20px;
}

.header__theme-toggler {
  display: flex;
  gap: 20px;
  padding: 0;
  list-style: none;
}

.header__theme-button {
  position: relative;
  border: none;
  padding: 0;
  color: currentColor;
  font-family: inherit;
  font-size: 18px;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-button:hover {
  text-decoration: underline;
}

.header__theme-button_is-active {
  font-weight: 700;
}

.header__theme-button_is-active::after {
  content: "";
  position: absolute;
  z-index: -1;
  inline-size: calc(100% + 8px);
  block-size: 0.5ch;
  background-color: var(--accent-color);
  inset-block-end: 0.3ch;
  inset-inline-start: -4px;
}

.footer {
  margin-block-start: 10%;
  border-block-start: 1px solid currentColor;
  padding: 2.5%;
  text-align: center;
}

.footer__copyright {
  font-size: 18px;
}

.theme_dark .colored-text::after {
  background-image: url(../images/pattern.svg);
}
.theme_dark .header__theme-button_is-active::after {
  background-image: url(../images/pattern.svg);
}
.theme_dark
  .content__text-block_type_first-lettered
  .content__paragraph:first-of-type::first-letter {
  border: 1px solid currentColor;
}
.theme_dark .content__list li::before {
  background-image: url(../images/marker-dark.svg);
}
